<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Homepage</title>
  </head>
  <body>
    <nav>
      <section>
        <h2><a href="/">Categories</a></h2>
        <section class="categories">
          <button><a href="/fruits">Fruits</a></button>
          <button><a href="/vegetables">Vegetables</a></button>
          <button><a href="/dairy">Dairy</a></button>
          <button><a href="/meatandpoultry">Meat & Poultry</a></button>
        </section>
      </section>
    </nav>
    <main>
      <h1>Grocery Inventory</h1>
      <% if (!categories) { %>
      <a href="<%= type + '/' +'addItem' %>">
        <button class="add">Add an Item</button>
      </a>
      <% } %>
      <section class="cards">
        <% items.forEach((item) => { %>
        <a href="/<%= categories? item.path : type + '/' + item.path %>">
          <div>
            <img src="<%= item.url %>" alt="<%= item.name %>" />
            <span class="float"><%= item.name %></span>
          </div>
        </a>
        <% }); %>
      </section>
    </main>
  </body>
</html>
