<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Details</title>
  </head>
  <body class="detailsBody">
    <section class="itemDetails">
      <% items.forEach((item) => { %>
      <div>
        <span>Name: </span>
        <%= item.name %>
      </div>
      <div>
        <span>Quantity: </span>
        <%= item.quantity %>
      </div>
      <div>
        <span>Price: </span>
        <%= item.price %>
      </div>
      <div>
        <span>Total Amount: </span>
        <%= item.amount %>
      </div>
      <% }); %>
    </section>
    <section style="display: flex; gap: 0.5rem">
      <a href="/">
        <button type="button" class="updateItem">Back</button>
      </a>
      <a href="<%= item %>/updateItem">
        <button class="updateItem">Update</button>
      </a>
      <form action="/<%= category %>/<%= item %>/deleteItem" method="POST">
        <button class="updateItem" type="submit">Delete</button>
      </form>
    </section>
  </body>
</html>
