<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Details</title>
  </head>
  <body class="detailsBody">
    <section class="itemDetails">
      <% items.forEach((item) => { %>
      <div>
        <span>Name: </span>
        <%= item.name %>
      </div>
      <div>
        <span>Quantity: </span>
        <%= item.quantity %>
      </div>
      <div>
        <span>Price: </span>
        <%= item.price %>
      </div>
      <div>
        <span>Total Amount: </span>
        <%= item.amount %>
      </div>
      <% }); %>
    </section>
    <a href="<%= category %>/updateItem"
      ><button class="updateItem">Update</button></a
    >
  </body>
</html>
